@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Sora", sans-serif;
  @keyframes loadingCustom1 {
    0% { transform: scaleY(0.5); }
    20% { transform: scaleY(1); }
    40% { transform: scaleY(1); }
    60% { transform: scaleY(0.5); }
    80% { transform: scaleY(0.5); }
    100% { transform: scaleY(0.5); }
  }
  @keyframes loadingCustom2 {
    0% { transform: scaleY(0.5); }
    20% { transform: scaleY(0.5); }
    40% { transform: scaleY(1); }
    60% { transform: scaleY(1); }
    80% { transform: scaleY(0.5); }
    100% { transform: scaleY(0.5); }
  }
  @keyframes loadingCustom3 {
    0% { transform: scaleY(0.5); }
    20% { transform: scaleY(0.5); }
    40% { transform: scaleY(0.5); }
    60% { transform: scaleY(1); }
    80% { transform: scaleY(1); }
    100% { transform: scaleY(0.5); }
  }
}

:root {
  --base-50: oklch(0.9868 0.0029 259.84);
  --base-100: oklch(0.9692 0.0058 262.54);
  --base-200: oklch(0.9253 0.0117 262.53);
  --base-300: oklch(0.8692 0.0175 260.34);
  --base-400: oklch(0.707 0.0262 261.33);
  --base-500: oklch(0.551 0.035 262.36);
  --base-600: oklch(0.446 0.0335 258.8);
  --base-700: oklch(0.373 0.0306 259.73);
  --base-800: oklch(0.278 0.0277 258.85);
  --base-900: oklch(0.21 0.024 262.66);
  --base-950: oklch(0.13 0.0219 261.69);
  --base-1000: oklch(0.078 0.0204 259.76);

  --primary-50: oklch(0.9866 0.0288 120.05);
  --primary-100: oklch(0.9676 0.0628 121.5);
  --primary-200: oklch(0.9384 0.1189 123.4);
  --primary-300: oklch(0.8719 0.1829 125.59);
  --primary-400: oklch(0.8416 0.2214 127.63);
  --primary-500: oklch(0.7692 0.2165 129.47);
  --primary-600: oklch(0.6495 0.1859 130.24);
  --primary-700: oklch(0.5331 0.1462 130.1);
  --primary-800: oklch(0.4542 0.1157 129.41);
  --primary-900: oklch(0.406 0.0943 129.43);
  --primary-950: oklch(0.2748 0.0672 130.42);
  --primary-1000: oklch(0.1896 0.0494 131.02);

  --secondary-50: oklch(0.9792 0.0142 56.84);
  --secondary-100: oklch(0.9531 0.0338 55.36);
  --secondary-200: oklch(0.9004 0.0676 53.94);
  --secondary-300: oklch(0.8362 0.114 51.61);
  --secondary-400: oklch(0.7489 0.1635 49.36);
  --secondary-500: oklch(0.7164 0.1906 47.14);
  --secondary-600: oklch(0.6445 0.1986 44.75);
  --secondary-700: oklch(0.5519 0.1744 42.09);
  --secondary-800: oklch(0.4693 0.1405 40.02);
  --secondary-900: oklch(0.4076 0.1102 38.89);
  --secondary-950: oklch(0.2656 0.0708 38);
  --secondary-1000: oklch(0.1738 0.0448 36.79);

  --background: var(--base-50);
  --foreground: var(--base-800);
  --card: var(--color-white);
  --card-foreground: var(--base-800);
  --popover: var(--color-white);
  --popover-foreground: var(--base-800);
  --primary: var(--primary-300);
  --primary-foreground: var(--color-black);
  --secondary: var(--secondary-500);
  --secondary-foreground: var(--color-black);
  --muted: var(--base-100);
  --muted-foreground: var(--base-600);
  --accent: var(--base-100);
  --accent-foreground: var(--base-800);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--base-200);
  --input: var(--base-300);
  --ring: var(--primary-300);
  --chart-1: var(--primary-300);
  --chart-2: var(--secondary-500);
  --chart-3: var(--primary-300);
  --chart-4: var(--secondary-300);
  --chart-5: var(--primary-100);
  --radius: 0.5rem;
  --sidebar: var(--color-white);
  --sidebar-foreground: var(--base-800);
  --sidebar-primary: var(--primary-300);
  --sidebar-primary-foreground: var(--color-black);
  --sidebar-accent: var(--base-50);
  --sidebar-accent-foreground: var(--base-800);
  --sidebar-border: var(--base-200);
  --sidebar-ring: var(--primary-300);
}

.dark {
  --background: var(--base-950);
  --foreground: var(--base-200);
  --card: var(--base-900);
  --card-foreground: var(--base-200);
  --popover: var(--base-900);
  --popover-foreground: var(--base-200);
  --primary: var(--primary-300);
  --primary-foreground: var(--color-black);
  --secondary: var(--secondary-500);
  --secondary-foreground: var(--color-black);
  --muted: var(--base-800);
  --muted-foreground: var(--base-300);
  --accent: var(--base-800);
  --accent-foreground: var(--base-200);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--base-800);
  --input: var(--base-700);
  --ring: var(--primary-300);
  --chart-1: var(--primary-300);
  --chart-2: var(--secondary-500);
  --chart-3: var(--primary-300);
  --chart-4: var(--secondary-300);
  --chart-5: var(--primary-100);
  --sidebar: var(--base-900);
  --sidebar-foreground: var(--base-200);
  --sidebar-primary: var(--primary-300);
  --sidebar-primary-foreground: var(--color-black);
  --sidebar-accent: var(--base-800);
  --sidebar-accent-foreground: var(--base-200);
  --sidebar-border: var(--base-800);
  --sidebar-ring: var(--primary-300);
}

@theme inline {
  --color-base-50: var(--base-50);
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-400: var(--base-400);
  --color-base-500: var(--base-500);
  --color-base-600: var(--base-600);
  --color-base-700: var(--base-700);
  --color-base-800: var(--base-800);
  --color-base-900: var(--base-900);
  --color-base-950: var(--base-950);
  --color-base-1000: var(--base-1000);

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);
  --color-primary-1000: var(--primary-1000);

  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-950: var(--secondary-950);
  --color-secondary-1000: var(--secondary-1000);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans);
    letter-spacing: var(--tracking-normal);
  }
}
